.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-color: #E5E7EB; */
  background-color: #191b1f;
}


@font-face {
  font-family:ruwudu;
  src: url("/public/fonts/Ruwudu-Bold.ttf");
}
@font-face {
  font-family:newsreader;
  src: url("/public/fonts/Newsreader_9pt-Bold.ttf");
}